.outsourcing-hero {
  padding-top: 180px;
  padding-bottom: 100px;
}
.outsourcing-hero__title {
  font-weight: 600;
}
.outsourcing-hero__subtitle {
  margin-top: 30px;
  color: var(--blue-700);
}
.outsourcing-hero__action {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.outsourcing-hero .button {
  flex: 0 0 380px;
}
.outsourcing-hero__action-message {
  display: flex;
  align-items: center;
  gap: 20px;

  color: var(--blue-100);
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: -0.6px;
}
.outsourcing-hero__cards {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.outsourcing-hero-card {
  padding: 30px;
}
.outsourcing-hero-card__title {
  font-weight: 600;
}
.outsourcing-hero__text {
  margin-top: 50px;
  font-weight: 600;
}
.outsourcing-hero__text span {
  color: var(--blue-400);
}
@media (max-width: 1100px) {
  .outsourcing-hero {
    padding-top: 150px;
    padding-bottom: 50px;
  }
  .outsourcing-hero__action .button {
    flex: 0 0 350px;
  }
  .outsourcing-hero__action-message {
    font-size: 18px;
    letter-spacing: -0.6px;
    text-align: center;
  }
  .outsourcing-hero__action-message span {
    max-width: 260px;
  }
  .outsourcing-hero-card {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .outsourcing-hero-card__title {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
  }
  .outsourcing-hero__text {
    font-size: 20px;
  }
} 
@media (max-width: 600px) {
  .outsourcing-hero {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .outsourcing-hero__subtitle {
    font-size: 18px;
  }
  .outsourcing-hero__action {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .outsourcing-hero__action .button {
    flex: 0 0 auto;
    width: 100%;
  }
  .outsourcing-hero__action-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .outsourcing-hero__action-message img {
    transform-origin: center;
    transform: rotateZ(90deg);
  }
  .outsourcing-hero__action-message span {
    max-width: 260px;
  }
  .outsourcing-hero__cards {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }
  .outsourcing-hero-card {
    flex: 0 0 80px;
    width: 100%;

    justify-content: flex-start;
  }
  .outsourcing-hero-card__title {
    text-align: left;
  }
}

.outsourcing-service {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--blue-400);
}
.outsourcing-service .section__title {
  color: #fff;
}
.outsourcing-service .section__title span {
  color: var(--blue-500);
}
.outsourcing-service__grid {
  --first-line-height: 400px;
  --second-line-height: 235px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: var(--first-line-height) var(--second-line-height);
  gap: 20px;
}
.outsourcing-service-card {
  position: relative;
  overflow: hidden;

  color: var(--blue-100);
}
.outsourcing-service-card:last-child {
  grid-column: 2 / -1;
}
.outsourcing-service-card__title {
  position: relative;
  z-index: 1;

  font-weight: 600;
}
.outsourcing-service-card__text {
  position: relative;
  z-index: 1;

  margin-top: 30px;
  font-size: 20px;
}
.outsourcing-service-card__image {
  position: absolute;
  bottom: 0;
  right: 0;
}
.outsourcing-service-card:nth-child(1) .outsourcing-service-card__image {
  bottom: 0px;
  right: 10px;
}
.outsourcing-service-card:nth-child(2) .outsourcing-service-card__image {
  bottom: 5px;
  right: 10px;
}
.outsourcing-service-card:nth-child(3) .outsourcing-service-card__image {
  bottom: 5px;
  right: 10px;
}
.outsourcing-service-card:nth-child(4) .outsourcing-service-card__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  min-height: 100%;
  object-fit: cover;
  aspect-ratio: 38 / 24;

  transition: 0.3s;
}
.outsourcing-service-card:nth-child(4):hover .outsourcing-service-card__image {
  filter: contrast(115%);
}
.outsourcing-service-card:nth-child(5) .outsourcing-service-card__image {
  bottom: 5px;
  right: 32px;
}
@media (max-width: 1100px) {
  .outsourcing-service__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 350px 350px 235px;
  }
  .outsourcing-service-card:last-child {
    grid-column: 1 / -1;
  }
  .outsourcing-service-card:nth-child(1) .outsourcing-service-card__image {
    max-height: 200px;
    bottom: 0px;
    right: 50%;
    transform: translateX(50%);
  }
  .outsourcing-service-card:nth-child(2) .outsourcing-service-card__image {
    max-height: 180px;
    bottom: 5px;
    right: 50%;
    transform: translateX(50%);
  }
  .outsourcing-service-card:nth-child(3) .outsourcing-service-card__image {
    max-height: 200px;
    bottom: 5px;
    right: 50%;
    transform: translateX(50%);
  }
  .outsourcing-service-card:nth-child(4) .outsourcing-service-card__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    min-height: 100%;
    object-fit: cover;
    aspect-ratio: 38 / 24;

    transition: 0.3s;
  }
  .outsourcing-service-card:nth-child(4):hover .outsourcing-service-card__image {
    filter: contrast(115%);
  }
  .outsourcing-service-card:nth-child(5) .outsourcing-service-card__image {
    bottom: 20px;
    right: 32px;
  }
  .outsourcing-service-card {
    padding: 20px;
  }
  .outsourcing-service-card__title {
    font-size: 28px;
    letter-spacing: -1.5px;
  }
  .outsourcing-service-card__text {
    margin-top: 20px;
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .outsourcing-service__grid {
    display: flex;
    gap: 20px;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding-bottom: 5px;
  }
  .outsourcing-service-card {
    flex: 0 0 100%;
    max-width: 335px;
    min-height: 325px;
    scroll-snap-align: start;
  }
  .outsourcing-service-card__title {
    font-size: 20px;
  }
  .outsourcing-service-card__text {
    margin-top: 20px;
    font-size: 16px;
  }
  .outsourcing-service-card:nth-child(5) .outsourcing-service-card__image {
    right: 50%;
    transform: translateX(50%);
  }
}

.outsourcing-advantages {
  padding-top: 100px;
  padding-bottom: 100px;
}
.outsourcing-advantages .section__title span {
  color: var(--blue-400);
}
.outsourcing-advantages__cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 400px);
  gap: 20px;
}
.outsourcing-advantages-card {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.outsourcing-advantages-card:nth-child(4) {
  color: #fff;
  background-color: var(--blue-400);
}
.outsourcing-advantages-card:nth-child(4):hover {
  background-color: var(--blue-300);
}
.outsourcing-advantages-card__title {
  position: relative;
  z-index: 1;

  font-weight: 600;
}
.outsourcing-advantages-card__text {
  position: relative;
  z-index: 1;

  font-size: 20px;
  line-height: 1.1;
  letter-spacing: -0.6px;
}
.outsourcing-advantages-card__image {
  position: absolute;
}
.outsourcing-advantages-card:nth-child(1) .outsourcing-advantages-card__image {
  left: 20px;
  bottom: 105px;
}
.outsourcing-advantages-card:nth-child(2) .outsourcing-advantages-card__image {
  top: 26px;
  right: 0;
}
.outsourcing-advantages-card:nth-child(3) .outsourcing-advantages-card__image {
  top: 36px;
  right: 0;
}
.outsourcing-advantages-card:nth-child(4) .outsourcing-advantages-card__image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.outsourcing-advantages-card:nth-child(4):hover .outsourcing-advantages-card__image {
  filter: contrast(120%);
}
.outsourcing-advantages-card:nth-child(5) .outsourcing-advantages-card__image {
  top: 72px;
  right: 0;
}
.outsourcing-advantages-card:nth-child(6) .outsourcing-advantages-card__image {
  left: 20px;
  bottom: 125px;
}
.outsourcing-advantages__nav {
  --link-size: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  padding: 20px 0px;

  display: none;
}
.outsourcing-advantages__nav-link {
  flex: 0 0 var(--link-size);
  height: var(--link-size);
  border-radius: var(--link-size);

  background-color: var(--blue-800);
  cursor: pointer;

  transition: 0.3s;
}
.outsourcing-advantages__nav-link.active {
  background-color: var(--blue-500);
}
@media (max-width: 1100px) {
  .outsourcing-advantages {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .outsourcing-advantages__cards {
    --card-width: 350px;

    padding-bottom: 5px;

    display: flex;
    overflow-x: scroll;

    position: relative;
  }
  .outsourcing-advantages__cards::after {
    content: '';

    display: block;
    flex: 0 0 calc(var(--card-width) / 2);
    height: 1px;
  }
  .outsourcing-advantages__cards::-webkit-scrollbar {
    display: none;
  }
  .outsourcing-advantages-card {
    flex: 0 0 var(--card-width);
    min-height: 350px;

    justify-content: flex-start;
    gap: 20px;
  }
  .outsourcing-advantages-card:nth-child(1) .outsourcing-advantages-card__image {
    left: 20px;
    bottom: 25px;
  }
  .outsourcing-advantages-card:nth-child(2) .outsourcing-advantages-card__image {
    max-width: 150px;
    top: 120px;
    right: 0;
  }
  .outsourcing-advantages-card:nth-child(3) .outsourcing-advantages-card__image {
    max-width: 200px;
    top: 100px;
    right: 0;
  }
  .outsourcing-advantages-card:nth-child(4) .outsourcing-advantages-card__image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }
  .outsourcing-advantages-card:nth-child(4):hover .outsourcing-advantages-card__image {
    filter: contrast(120%);
  }
  .outsourcing-advantages-card:nth-child(5) .outsourcing-advantages-card__image {
    max-width: 170px;
    top: 120px;
    right: 0;
  }
  .outsourcing-advantages-card:nth-child(6) .outsourcing-advantages-card__image {
    left: 20px;
    bottom: 25px;
  }
  .outsourcing-advantages__nav {
    display: flex;
  }
}
@media (max-width: 600px) {
  .outsourcing-advantages-card {
    flex: 0 0 100%;
    max-width: 335px;
    min-height: 300px;
  }
}

.outsourcing-prices {
  padding-top: 50px;
  padding-bottom: 100px;
}
.outsourcing-prices__cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.outsourcing-prices-card {
  padding: 30px;
  border-radius: 30px;
  background-color: #fff;
}
.outsourcing-prices-card__title {
  padding-top: 20px;
  font-weight: 600;
}
.outsourcing-prices-card__text {
  font-weight: 600;
}
.outsourcing-prices-card__text:not(:first-child) {
  margin-top: 30px;
}
.outsourcing-prices-card__text.grey {
  color: var(--blue-700);
}
.outsourcing-prices-card__button {
  margin-top: 50px;
  max-width: 250px;
}
.outsourcing-prices-card .agreement {
  margin-top: 30px;
}
.outsourcing-prices-card ul {
  list-style-position: inside;
}
.outsourcing-prices-card ul li:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 1100px) {
  .outsourcing-prices {
    padding-top: 0px;
    padding-bottom: 50px;
  }
  .outsourcing-prices__cards {
    background-color: #fff;
    border-radius: 30px;
    padding: 50px 20px;
  }
  .outsourcing-prices-card {
    padding: 0px;
  }
  .outsourcing-prices-card__title {
    margin-bottom: 30px;
    padding-top: 0;
  }
  .outsourcing-prices-card__text {
    font-size: 20px;
  }
  .outsourcing-prices-card__text:not(:first-child) {
    margin-top: 20px;
  }
  .outsourcing-prices-card__button {
    flex: 0 0 100%;
    max-width: 350px;
  }
  .outsourcing-prices-card .agreement {
    margin-top: 40px;
  }
}
@media (max-width: 600px) {
  .outsourcing-prices__cards {
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .outsourcing-prices-card__text {
    font-size: 16px;
  }
  .outsourcing-prices-card__text:not(:first-child) {
    margin-top: 30px;
  }
  .outsourcing-prices-card__button {
    margin-top: 30px;
  }
}

.outsourcing-steps {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--blue-400);
}
.outsourcing-steps .section__title {
  color: #fff;
}
.outsourcing-steps .section__title span {
  color: var(--blue-500);
}
.outsourcing-steps__cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 20px;
}
.outsourcing-steps-card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.outsourcing-steps-card__title {
  font-weight: 600;
  padding-right: 40px;
}
.outsourcing-steps-card__text {
  font-size: 20px;
  letter-spacing: -0.6px;
  line-height: 1.1;
}
.outsourcing-steps-card__index {
  position: absolute;
  top: -20px;
  right: -8px;

  font-size: 128px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -15px;

  color: var(--blue-400);
}
@media (max-width: 1100px) {
  .outsourcing-steps__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 150px);
    grid-auto-flow: column;
  }
  .outsourcing-steps-card__index {
    font-size: 96px;
    top: -20px;
    right: 0px;
  }
}
@media (max-width: 600px) {
  .outsourcing-steps__cards {
    margin-top: 30px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 140px);
  }
  .outsourcing-steps-card__title {
    padding-right: 70px;
    font-size: 18px;
  }
  .outsourcing-steps-card__text {
    font-size: 16px;
  }
}

.outsourcing-sign-up {
  padding-top: 100px;
  padding-bottom: 100px;
}
.outsourcing-sign-up .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.outsourcing-sign-up .section__title {
  display: none;
}
.outsourcing-sign-up .section__subtitle {
  display: none;
}
.outsourcing-sign-up-form {
  padding: 50px 30px;
  border-radius: 30px;
  background-color: #fff;
}
.outsourcing-sign-up-form__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.7px;
}
.outsourcing-sign-up-form__body {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.outsourcing-sign-up-form__button {
  margin-top: 20px;
  width: 100%;
  max-width: 280px;
}
.outsourcing-sign-up__illustration {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;
  border-radius: 30px;
}
.outsourcing-sign-up__illustration img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 1100px) {
  .outsourcing-sign-up {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .outsourcing-sign-up .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    row-gap: 0px;
  }
  .outsourcing-sign-up .section__subtitle {
    grid-column: 1 / -1;
    display: block;

    font-size: 20px;
    font-weight: 600;
    max-width: 380px;
  }
  .outsourcing-sign-up-form {
    padding: 0px;
    background-color: transparent;
  }
  .outsourcing-sign-up-form__title {
    display: none;
  }
  .outsourcing-sign-up-form__body {
    margin-top: 0;
  }
}
@media (max-width: 600px) {
  .outsourcing-sign-up__illustration {
    display: none;
  }
  .outsourcing-sign-up-form {
    grid-column: 1 / -1;
  }
  .outsourcing-sign-up .section__title {
    grid-column: 1 / -1;
    display: block;
  }
  .outsourcing-sign-up .section__subtitle {
    margin-bottom: 50px;
    font-size: 16px;
  }
  .outsourcing-sign-up-form__button {
    width: 100%;
    max-width: 100%;
  }
}
