/* staff hero */
.staff-by-fields-hero {
  width: 100%;
  padding-top: 180px;
  padding-bottom: 100px;
}
.staff-by-fields-hero .container {
  position: relative;
}
.staff-by-fields-hero__title {
  font-weight: 600;
}
.staff-by-fields-hero__title span {
  color: var(--blue-400);
}
.staff-by-fields__text {
  margin-top: 30px;
  color: var(--blue-700);
}
.staff-by-fields-hero .button {
  margin-top: 50px;
  max-width: 300px;
}

/* profitability */
.profitability {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--blue-400);
}
.profitability .section__title {
  color: #fff;
}
.profitability .section__title span {
  color: var(--blue-500);
}
.profitability-card {
  --card-width: 580px;
  --card-height: 400px;
  --icon-size: 100px;

  flex: 0 0 var(--card-width);
  height: var(--card-height);

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  user-select: none;
}
.profitability-card__icon {
  flex: 0 0 100px;
}
.profitability-card__title {
  margin-top: 30px;
  flex: 1 1 auto;

  font-weight: 600;
}
.profitability-card__text {
  font-size: 20px;
  letter-spacing: -0.6px;
  line-height: 1.1;
}
.profitability__text {
  margin-top: 50px;
  font-weight: 600;
  color: #fff;
}
.profitability__text span {
  color: var(--blue-500);
}

/* hiring fields */
.staff-hiring-fields {
  padding-top: 100px;
  padding-bottom: 50px;
}
.staff-hiring-fields__grid {
  --first-line-height: 400px;
  --second-line-height: 275px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: var(--first-line-height) var(--second-line-height);
  gap: 20px;
}
.staff-hiring-fields-card {
  --icon-size: 64px;

  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.staff-hiring-fields-card:nth-child(1) {
  grid-row: 1 / 1;
  grid-column: 1 / 3;
}
.staff-hiring-fields-card:nth-child(2) {
  grid-row: 1 / 1;
  grid-column: 3 / 5;
}
.staff-hiring-fields-card:nth-child(3) {
  grid-row: 1 / 1;
  grid-column: 5 / 7;
}
.staff-hiring-fields-card:nth-child(4) {
  grid-row: 2 / 2;
  grid-column: 1 / 4;
}
.staff-hiring-fields-card:nth-child(5) {
  grid-row: 2 / 2;
  grid-column: 4 / 7;
}
.staff-hiring-fields-card:nth-child(4) .staff-hiring-fields-card__text,
.staff-hiring-fields-card:nth-child(5) .staff-hiring-fields-card__text {
  margin-top: 10px;
}
.staff-hiring-fields-card__header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.staff-hiring-fields-card__icon {
  flex: 0 0 var(--icon-size);
  height: var(--icon-size);
  border-radius: var(--icon-size);
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}
.staff-hiring-fields-card__title {
  font-weight: 600;
}
.staff-hiring-fields-card__text {
  flex: 1 1 auto;
  margin-top: 40px;

  font-size: 20px;
  letter-spacing: -0.6px;
  line-height: 1.1;
}
.staff-hiring-fields-card__button {
  width: 100%;
  max-width: 300px;
}
.staff-hiring-fields__text {
  margin-top: 50px;
  font-weight: 600;
}
.staff-hiring-fields__text span {
  color: var(--blue-700);
}

/* staff experience */
.staff-experience .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.staff-experience__title {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -3px;
  line-height: 1.1;
}
.staff-experience__text {
  margin-top: 30px;
  max-width: 520px;

  font-weight: 600;
  color: var(--blue-400);
}
.staff-experience__logos {
  display: flex;
  align-items: center;
  gap: 20px;
}
.staff-experience__logos img {
  display: block;
  max-height: 150px;
}

/* staff hiring advantages */
.staff-hiring-advantages {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--blue-400);
}
.staff-hiring-advantages .section__title {
  color: #fff;
}
.staff-hiring-advantages .section__title span {
  color: var(--blue-500);
}
.staff-hiring-advantages-widget {
  --point-size: 64px;
  --blocks-amount: 5;

  height: 350px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
.staff-hiring-advantages-widget__line {
  width: 100%;
}
.staff-hiring-advantages-widget__block {
  position: absolute;
  left: calc((100% - var(--point-size)) / (var(--blocks-amount) - 1) * var(--index));
}
.staff-hiring-advantages-widget__block:nth-child(odd) {
  bottom: 0;
}
.staff-hiring-advantages-widget__block:nth-child(even) {
  top: 0;
}
.staff-hiring-advantages-widget__block:last-child {
  left: auto;
  right: 0;
}
.staff-hiring-advantages-widget__block:nth-child(1) {
  max-width: 390px;
}
.staff-hiring-advantages-widget__block:nth-child(2) {
  max-width: 300px;
}
.staff-hiring-advantages-widget__block:nth-child(3) {
  max-width: 290px;
}
.staff-hiring-advantages-widget__block:nth-child(4) {
  max-width: 330px;
}
.staff-hiring-advantages-widget__block:nth-child(5) {
  max-width: 200px;
}
.staff-hiring-advantages-widget__block-title {
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: -1px;
  color: #fff;
}
.staff-hiring-advantages-widget__block-text {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: -1px;
  color: var(--blue-500);
}

/* staff hiring steps */
.staff-hiring-steps {
  padding-top: 150px;
  padding-bottom: 100px;
}
.staff-hiring-steps__grid {
  --first-line-height: 400px;
  --second-line-height: 235px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: var(--first-line-height) var(--second-line-height);
  gap: 20px;
}
.staff-hiring-steps-card {
  position: relative;
  overflow: hidden;

  color: var(--blue-100);
}
.staff-hiring-steps-card.filled {
  color: #fff;
}
.staff-hiring-steps-card:last-child {
  grid-column: 2 / -1;
}
.staff-hiring-steps-card__title {
  font-weight: 600;
}
.staff-hiring-steps-card__text {
  margin-top: 30px;
  font-size: 20px;
}
.staff-hiring-steps-card__image {
  position: absolute;
  bottom: 0;
  right: 0;
}
.staff-hiring-steps-card:nth-child(1) .staff-hiring-steps-card__image {
  bottom: 0px;
  right: 20px;
}
.staff-hiring-steps-card:nth-child(2) .staff-hiring-steps-card__image {
  bottom: 10px;
  right: 20px;
}
.staff-hiring-steps-card:nth-child(3) .staff-hiring-steps-card__image {
  bottom: 14px;
  right: 36px;
}
.staff-hiring-steps-card:nth-child(4) {
  background-image: url('../img/staff-hiring-steps-4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.staff-hiring-steps-card:nth-child(5) .staff-hiring-steps-card__image {
  bottom: 10px;
  right: 24px;
}

/* sign up */
.staff-sign-up {
  padding-top: 50px;
  padding-bottom: 150px;
}
