/* staff hero */
.staff-by-fields-hero {
  width: 100%;
  padding-top: 180px;
  padding-bottom: 100px;
  overflow: hidden;
}
.staff-by-fields-hero .container {
  position: relative;
}
.staff-by-fields-hero__title {
  font-weight: 600;
}
.staff-by-fields-hero__title span {
  color: var(--blue-400);
}
.staff-by-fields-hero__text {
  margin-top: 30px;
  color: var(--blue-700);
}
.staff-by-fields-hero__text br:not(.desktop) {
  display: none;
}
.staff-by-fields-hero__title br.desktop {
  display: block;
}
.staff-by-fields-hero .button {
  margin-top: 50px;
  max-width: 300px;
}
.staff-by-fields-hero__illustration {
  position: absolute;
  left: min(60%, 730px);
  top: -30px;
}
.staff-by-fields-hero__illustration img {
  max-height: 460px;
}
.staff-by-fields-hero__illustration img:not(.desktop) {
  display: none;
}
.staff-by-fields-hero__illustration img.desktop {
  display: block;
}
@media (max-width: 1100px) {
  .staff-by-fields-hero {
    padding-top: 150px;
    padding-bottom: 50px;
  }
  .staff-by-fields-hero__text {
    margin-top: 30px;
    max-width: 520px;
  }
  .staff-by-fields-hero__text br:not(.tablet) {
    display: none;
  }
  .staff-by-fields-hero__title br.tablet {
    display: block;
  }
  .staff-by-fields-hero__illustration {
    top: 0;
    left: min(66%, 500px);
  }
  .staff-by-fields-hero__illustration img {
    max-height: 232px;
  }
  .staff-by-fields-hero__illustration img:not(.tablet) {
    display: none;
  }
  .staff-by-fields-hero__illustration img.tablet {
    display: block;
  }
}
@media (max-width: 600px) {
  .staff-by-fields-hero {
    padding-top: 100px;
    padding-bottom: 300px;
  }
  .staff-by-fields-hero__text br:not(.mobile) {
    display: none;
  }
  .staff-by-fields-hero__text br.mobile {
    display: block;
  }
  .staff-by-fields-hero .button {
    margin-top: 30px;
    width: 100%;
    max-width: none;
    padding: 15px;
  }
  .staff-by-fields-hero__illustration {
    top: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
  }
  .staff-by-fields-hero__illustration img:not(.tablet) {
    display: none;
  }
  .staff-by-fields-hero__illustration img.tablet {
    display: block;
  }
}

/* profitability */
.profitability {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--blue-400);
}
.profitability .section__title {
  color: #fff;
}
.profitability .section__title span {
  color: var(--blue-500);
}
.profitability-card {
  --card-width: 580px;
  --card-height: 400px;
  --icon-size: 100px;

  flex: 0 0 var(--card-width);
  height: var(--card-height);

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  user-select: none;
}
.profitability-card__icon {
  display: block;
  height: var(--icon-size);
  flex: 0 0 var(--icon-size);
}
.profitability-card__title {
  margin-top: 30px;
  flex: 1 1 auto;

  font-weight: 600;
}
.profitability-card__text {
  font-size: 20px;
  letter-spacing: -0.6px;
  line-height: 1.1;
}
.profitability__text {
  margin-top: 50px;
  font-weight: 600;
  color: #fff;
}
.profitability__text span {
  color: var(--blue-500);
}
@media (max-width: 1100px) {
  .profitability-scrollable {
    overflow: unset;
  }
  .profitability-scrollable .scrollable__content {
    padding: 0px var(--container-padding);

    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .profitability-scrollable .scrollable__content::before,
  .profitability-scrollable .scrollable__content::after {
    display: none;
  }
  .profitability-card {
    --card-width: auto;
    --card-height: 370px;
  }
  .profitability-card__text {
    font-size: 18px;
  }
  .profitability__text {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .profitability-scrollable .scrollable__content {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .profitability-card {
    --card-width: 100%;
    --card-height: 250px;
    --icon-size: 50px;

    width: 100%;
  }
  .profitability-card__text {
    font-size: 16px;
  }
  .profitability__text {
    font-size: 16px;
  }
}

/* hiring fields */
.staff-hiring-fields {
  padding-top: 100px;
  padding-bottom: 50px;
}
.staff-hiring-fields__grid {
  --first-line-height: 400px;
  --second-line-height: 275px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: var(--first-line-height) var(--second-line-height);
  gap: 20px;
}
.staff-hiring-fields-card {
  --icon-size: 64px;

  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.staff-hiring-fields-card:nth-child(1) {
  grid-row: 1 / 1;
  grid-column: 1 / 3;
}
.staff-hiring-fields-card:nth-child(2) {
  grid-row: 1 / 1;
  grid-column: 3 / 5;
}
.staff-hiring-fields-card:nth-child(3) {
  grid-row: 1 / 1;
  grid-column: 5 / 7;
}
.staff-hiring-fields-card:nth-child(4) {
  grid-row: 2 / 2;
  grid-column: 1 / 4;
}
.staff-hiring-fields-card:nth-child(5) {
  grid-row: 2 / 2;
  grid-column: 4 / 7;
}
.staff-hiring-fields-card:nth-child(4) .staff-hiring-fields-card__text,
.staff-hiring-fields-card:nth-child(5) .staff-hiring-fields-card__text {
  margin-top: 10px;
}
.staff-hiring-fields-card__header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.staff-hiring-fields-card__icon {
  flex: 0 0 var(--icon-size);
  height: var(--icon-size);
  border-radius: var(--icon-size);
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}
.staff-hiring-fields-card__title {
  font-weight: 600;
}
.staff-hiring-fields-card__text {
  flex: 1 1 auto;
  margin-top: 40px;

  font-size: 20px;
  letter-spacing: -0.6px;
  line-height: 1.1;
}
.staff-hiring-fields-card__button {
  width: 100%;
  max-width: 300px;
}
.staff-hiring-fields__text {
  margin-top: 50px;
  font-weight: 600;
}
.staff-hiring-fields__text span {
  color: var(--blue-700);
}
@media (max-width: 1100px) {
  .staff-hiring-fields {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .staff-hiring-fields__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 305px 305px 235px;
  }
  .staff-hiring-fields-card:nth-child(1) {
    grid-row: 1 / 1;
    grid-column: 1 / 2;
  }
  .staff-hiring-fields-card:nth-child(2) {
    grid-row: 1 / 1;
    grid-column: 2 / 3;
  }
  .staff-hiring-fields-card:nth-child(3) {
    grid-row: 2 / 2;
    grid-column: 1 / 2;
  }
  .staff-hiring-fields-card:nth-child(4) {
    grid-row: 2 / 2;
    grid-column: 2 / 3;
  }
  .staff-hiring-fields-card:nth-child(5) {
    grid-row: 3 / 3;
    grid-column: 1 / -1;
  }
  .staff-hiring-fields-card__title {
    font-size: 24px;
  }
  .staff-hiring-fields-card__text {
    margin-top: 20px;

    font-size: 18px;
    letter-spacing: -0.6px;
    line-height: 1.1;
  }
  .staff-hiring-fields-card__button {
    width: 100%;
    max-width: 220px;
  }
  .staff-hiring-fields__text {
    margin-top: 30px;
  }
}
@media (max-width: 600px) {
  .staff-hiring-fields .slider {
    display: flex;
    gap: 20px;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    padding-bottom: 5px;
  }
  .staff-hiring-fields .slider::-webkit-scrollbar {
    display: none;
  }
  .staff-hiring-fields .slider__slides {
    display: contents;
  }
  .staff-hiring-fields__grid {
    height: 250px;
    display: flex;
  }
  .staff-hiring-fields .slider__nav {
    display: none;
  }
  .staff-hiring-fields-card {
    --icon-size: 40px;

    flex: 0 0 300px;
    scroll-snap-align: start;
  }
  .staff-hiring-fields-card__icon img {
    max-height: 30px;
  }
  .staff-hiring-fields-card__title {
    font-size: 20px;
  }
  .staff-hiring-fields-card__text {
    margin-top: 20px;
    font-size: 16px;
  }
  .staff-hiring-fields-card__button {
    width: 100%;
    padding: 15px;
  }
}
@media (max-width: 350px) {
  .staff-hiring-fields .slider {
    gap: 10px;
  }
  .staff-hiring-fields__grid {
    gap: 10px;
  }
  .staff-hiring-fields-card {
    flex: 0 0 270px;
  }
  .staff-hiring-fields-card__text {
    font-size: 14px;
  }
}
 
/* staff experience */
.staff-experience .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.staff-experience__title {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -3px;
  line-height: 1.1;
}
.staff-experience__text {
  margin-top: 30px;
  max-width: 520px;

  font-weight: 600;
  color: var(--blue-400);
}
.staff-experience__logos {
  display: flex;
  align-items: center;
  gap: 20px;
}
.staff-experience__logos img {
  display: block;
  max-height: 150px;
}
@media (max-width: 1100px) {
  .staff-experience {
    display: none;
  }
  .staff-experience .container {
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;
  }
  .staff-experience__title {
    font-size: 36px;
  }
  .staff-experience__text {
    margin-top: 20px;
  }
  .staff-experience__logos img {
    max-height: 80px;
  }
}

/* staff hiring advantages */
.staff-hiring-advantages {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--blue-400);
}
.staff-hiring-advantages .section__title {
  color: #fff;
}
.staff-hiring-advantages .section__title span {
  color: var(--blue-500);
}
.staff-hiring-advantages-widget {
  --point-size: 64px;
  --blocks-amount: 5;

  height: 350px;
  position: relative;

  width: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}
.staff-hiring-advantages-widget__line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.staff-hiring-advantages-widget__line img {
  width: 100%;
}
.staff-hiring-advantages-widget__line img:not(.desktop) {
  display: none;
}
.staff-hiring-advantages-widget__line img.desktop {
  display: block;
}
.staff-hiring-advantages-widget__block {
  position: absolute;
  left: calc((100% - var(--point-size)) / (var(--blocks-amount) - 1) * var(--index));
}
.staff-hiring-advantages-widget__block:nth-child(odd) {
  bottom: 0;
}
.staff-hiring-advantages-widget__block:nth-child(even) {
  top: 0;
}
.staff-hiring-advantages-widget__block:last-child {
  left: auto;
  right: 0;
}
.staff-hiring-advantages-widget__block:nth-child(1) {
  max-width: 390px;
}
.staff-hiring-advantages-widget__block:nth-child(2) {
  max-width: 300px;
}
.staff-hiring-advantages-widget__block:nth-child(3) {
  max-width: 290px;
}
.staff-hiring-advantages-widget__block:nth-child(4) {
  max-width: 330px;
}
.staff-hiring-advantages-widget__block:nth-child(5) {
  max-width: 200px;
}
.staff-hiring-advantages-widget__block-title {
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: -1px;
  color: #fff;
}
.staff-hiring-advantages-widget__block-text {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: -1px;
  color: var(--blue-500);
}
@media (max-width: 1100px) {
  .staff-hiring-advantages {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .staff-hiring-advantages-widget {
    margin-top: 120px;
    height: auto;
    max-width: 600px;
  }
  .staff-hiring-advantages-widget__line img:not(.tablet) {
    display: none;
  }
  .staff-hiring-advantages-widget__line img.tablet {
    display: block;
  }
  .staff-hiring-advantages-widget__block:nth-child(1) {
    left: 0%;
    top: -20%;
    max-width: 220px;
  }
  .staff-hiring-advantages-widget__block:nth-child(2) {
    left: auto;
    bottom: auto;
    right: 0;
    top: -13%;
    max-width: 120px;
  }
  .staff-hiring-advantages-widget__block:nth-child(3) {
    left: auto;
    bottom: auto;
    top: 31%;
    right: 7%;
    max-width: 150px;
  }
  .staff-hiring-advantages-widget__block:nth-child(4) {
    top: auto;
    bottom: 24%;
    left: 12%;
    max-width: 280px;
  }
  .staff-hiring-advantages-widget__block:nth-child(5) {
    top: auto;
    left: auto;
    bottom: -12%;
    right: 0;
  }
  .staff-hiring-advantages-widget__block-title {
    font-size: 20px;
  }
  .staff-hiring-advantages-widget__block-text {
    display: none;
  }
}
@media (max-width: 600px) {
  .staff-hiring-advantages-widget {
    margin-top: 80px;
  }
  .staff-hiring-advantages-widget__line img:not(.mobile) {
    display: none;
  }
  .staff-hiring-advantages-widget__line img.mobile {
    display: block;
  }
  .staff-hiring-advantages-widget__block:nth-child(1) {
    left: 0%;
    top: 20%;
    max-width: 130px;
  }
  .staff-hiring-advantages-widget__block:nth-child(2) {
    left: auto;
    bottom: auto;
    right: 0;
    top: -13%;
    max-width: 100px;
  }
  .staff-hiring-advantages-widget__block:nth-child(3) {
    left: auto;
    bottom: auto;
    top: 33%;
    right: 14%;
    max-width: 90px;
  }
  .staff-hiring-advantages-widget__block:nth-child(4) {
    top: auto;
    bottom: 24%;
    left: 15%;
  }
  .staff-hiring-advantages-widget__block:nth-child(5) {
    top: auto;
    left: auto;
    bottom: -12%;
    right: 0;
  }
  .staff-hiring-advantages-widget__block-title {
    font-size: 16px;
  }
  .staff-hiring-advantages-widget__block-text {
    display: none;
  }
}

/* staff hiring steps */
.staff-hiring-steps {
  padding-top: 150px;
  padding-bottom: 100px;
}
.staff-hiring-steps__grid {
  --first-line-height: 400px;
  --second-line-height: 235px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: var(--first-line-height) var(--second-line-height);
  gap: 20px;
}
.staff-hiring-steps-card {
  position: relative;
  overflow: hidden;

  color: var(--blue-100);
}
.staff-hiring-steps-card.filled {
  background-color: var(--blue-400);
  color: #fff;
}
.staff-hiring-steps-card.filled:hover {
  background-color: var(--blue-300);
}
.staff-hiring-steps-card:last-child {
  grid-column: 2 / -1;
}
.staff-hiring-steps-card__title {
  font-weight: 600;
}
.staff-hiring-steps-card__text {
  margin-top: 30px;
  font-size: 20px;
}
.staff-hiring-steps-card__image {
  position: absolute;
  bottom: 0;
  right: 0;
}
.staff-hiring-steps-card:nth-child(1) .staff-hiring-steps-card__image {
  bottom: 0px;
  right: 20px;
}
.staff-hiring-steps-card:nth-child(2) .staff-hiring-steps-card__image {
  bottom: 10px;
  right: 20px;
}
.staff-hiring-steps-card:nth-child(3) .staff-hiring-steps-card__image {
  bottom: 14px;
  right: 36px;
}
.staff-hiring-steps-card:nth-child(4) {
  background-image: url('../img/staff-hiring-steps-4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.staff-hiring-steps-card:nth-child(5) .staff-hiring-steps-card__image {
  bottom: 10px;
  right: 24px;
}
@media (max-width: 1100px) {
  .staff-hiring-steps {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .staff-hiring-steps__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px 350px 235px;
  }
  .staff-hiring-steps-card:last-child {
    grid-column: 1 / -1;
  }
  .staff-hiring-steps-card__text {
    margin-top: 20px;
    font-size: 18px;
  }
  .staff-hiring-steps-card:nth-child(1) .staff-hiring-steps-card__image {
    bottom: 0px;
    right: 50%;
    transform: translateX(50%);
  }
  .staff-hiring-steps-card:nth-child(2) .staff-hiring-steps-card__image {
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
  }
  .staff-hiring-steps-card:nth-child(3) .staff-hiring-steps-card__image {
    max-height: 170px;
    bottom: 14px;
    right: 50%;
    transform: translateX(50%);
  }
  .staff-hiring-steps-card:nth-child(4) {
    background-position: 100% 80%;
  }
  .staff-hiring-steps-card:nth-child(5) .staff-hiring-steps-card__image {
    bottom: 24px;
    right: 24px;
  }
}
@media (max-width: 600px) {
  .staff-hiring-steps {
    padding-top: 50px;
  }
  .staff-hiring-steps__grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 330px);
  }
  .staff-hiring-steps-card__text {
    margin-top: 30px;
    font-size: 16px;
  }
  .staff-hiring-steps-card__image {
    max-height: 200px;
  }
  .staff-hiring-steps-card:nth-child(4) {
    background-position: 100% 80%;
  }
  .staff-hiring-steps-card:nth-child(5) .staff-hiring-steps-card__image {
    right: 50%;
    transform: translateX(50%);
    bottom: 10px;
  }
}

/* sign up */
.staff-sign-up {
  padding-top: 50px;
  padding-bottom: 150px;
}
@media (max-width: 1100px) {
  .staff-sign-up {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
  }
} 